:root {
  --theme-color: rgb(154, 205, 50);
  --theme-color-light: rgba(154, 205, 50, 0.05);
  --theme-color-medium: rgba(154, 205, 50, 0.1);
  --dark-color: rgba(0,0,0,0.8);
  --dark-focused: rgb(154, 205, 50);
}
@font-face {
  font-family: 'visitor';
  src:  url('visitor2-webfont.woff2') format('woff2'),
        url('visitor2-webfont.woff') format('woff');
}
body {
  font-family: "Helvetica Neue", helvetica, arial, "sans serif";
}
.cover-main blockquote p {
  margin: 0;
}
.cover-main blockquote {
  background: none !important;
  font-size: 14px !important;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}
.cover.show {
  background: none !important;
}
.cover.show img {
  max-width: 250px;
}
section.cover h1 {
  font-family: visitor !important;
  font-size: 60px !important;
  margin: 0;
}
section.cover .cover-main>p:last-child a:last-child {
  background: #4267b2;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  padding: 5px 30px;
  font-family: Sans-serif;
  font-size: 14px;
}
section.cover .cover-main>p:last-child a:last-child:hover {
  color: white;
}
.content {
  left: 400px !important;
}
.sidebar {
  color: rgba(0,0,0,0.8);
  max-width: 400px !important;
}
.sidebar li {
  margin: 0;
}
.sidebar ul li a {
  color: rgba(0,0,0,0.8);
  line-height: 25px;
}
.sidebar ul li.active>a {
  color: var(--theme-color);
  border-right: 5px solid;
}
.markdown-section {
  max-width: 700px;
  margin: 20px;
}
.markdown-section code, .markdown-section pre {
  font-size: 12px;
  line-height: 16px;
}
.markdown-section a {
  width: 100%;
}
.markdown-section h1 {
  font-size: 60px;
  line-height: 60px;
  letter-spacing: -2px;
}
.markdown-section h2 {
  font-size: 40px;
  line-height: 40px;
  letter-spacing: -2px;
}
.markdown-section h3 {
  font-size: 30px;
  line-height: 30px;
  border-left: 10px solid black;
  padding-left: 15px;
}
.markdown-section h4 {
  border-left: 15px solid black;
  padding-left: 10px;
}
.markdown-section h5 {
  margin-bottom: 0;
}
.anchor span {
  color: var(--dark-color);
  word-wrap: break-word;
  overflow-wrap: break-word;
  width: 100%;
}
.markdown-section ol, .markdown-section p, .markdown-section ul {
  line-height: 1.4rem;
}
.markdown-section textarea {
  width: 100%;
  box-sizing: border-box;
  padding: 20px;
  height: 400px;
  font-size: 12px;
  border: none;
  background: rgba(0,0,0,0.8);
  color: white;
}
.home {
  max-width: 800px;
  margin: 0 auto;
  padding: 100px 0;
  text-align: center;
  color: rgba(255,255,255,0.9);
  background: rgba(0,0,0,0.9);
}
.home .item {
  font-size: 12px;
  font-weight: bold;
  color: rgba(255,255,255,0.8);
  padding: 10px 20px;
  background: rgba(0,0,0,0.2);
  text-decoration: none;
  border-radius: 2px;
  display: inline-block;
}
.home #title i {
  font-size: 80px;
}
.home #title {
  font-size: 35px;
  letter-spacing: -1px;
}
a.btn {
  background: rgba(0,0,0,0.8);
  color: white;
  padding: 10px;
  border-radius: 2px;
  color: white;
  text-decoration: none;
}
blockquote {
  background: rgba(65,105,225, 0.08);
  padding: 10px;
}
